<html>
    <head>
        <title>
            <%= title %>
        </title>
        <script src="https://kit.fontawesome.com/0809522334.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>

        <!-- only if user is logged in -->
        <% if(locals.user) { %>
        
            <%- include("_order") -%>
            
        <% } else { %>

            <h1>Welcome</h1>
            
        <% } %>
        

        <script type="text/javascript" src="/js/home.js"></script>
    </body>
</html>